.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 300px;
}

.rowOne, .rowTwo, .rowThree, .rowFour, .display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.display {
    border: black solid;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 50px;
    width: 50px;
}